.CardProjet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40rem;
  width: 30rem;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  margin: 5rem;
  padding-bottom: 1rem;
  text-align: center;
}
.name {
  font-size: 1.8rem;
  color: var(--green-text-color);
  padding-top: 1rem;
}
.img {
  height: 20rem;
  width: 20rem;
}

.titleDescription {
  font-weight: bold;
  color: var(--green-text-color);
  font-size: 1.2rem;
  margin-top: 1rem;
}
.pDescription {
  color: black;
  margin: 0.5rem 1rem;
}

.pIntervenant {
  color: black;
  margin: 0.5rem 1rem;
}

.linkGit {
  color: var(--green-text-color);
}

@media screen and (max-width: 768px) {
  .CardProjet {
    width: 100%;
  }
}
