.titleProjet {
  font-size: 3rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .titleProjet {
    font-size: 2.5rem;
  }
}
